@import "../../../app.scss";

.rSection {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  &__container {
    width: 1400px;
    @media screen and (max-width: 1200px) {
      margin: 0 3rem;
      margin-bottom: 3rem;
      text-align: center;
    }
    &__split {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr;
      }
      &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2rem;

        h1 {
          font-size: 3rem;
          margin-bottom: 0;
          color: rgb(41, 41, 41);
        }
        p {
          color: #bdbdbd;
        }
      }
      &__right {
        height: 80vh;
        margin-bottom: 2rem;
        .content {
          padding-top: 2rem;

          &__buttons {
            width: 100%;
            text-align: center;
            button {
              background: #5e5df0;
              border-radius: 999px;
              box-shadow: #5e5df0 0 10px 20px -10px;
              box-sizing: border-box;
              color: #ffffff;
              cursor: pointer;
              position: relative;
              top: 2px;
              font-family: $font;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
              opacity: 1;
              outline: 0 solid transparent;
              padding: 10px 25px;
              border: 0;
            }
          }
          &__container__card {
            width: 100%;
            border: 1px solid black;
            &__header {
              text-align: center;
            }

            &__split {
              display: grid;
              grid-template-columns: 1fr 1fr;
            }
          }
        }
      }
    }
  }
}
