@import "../app.scss";

.landingsection {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;

  .container {
    width: 1000px;
    &__split {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 8rem;
      width: 100%;
      @media screen and(max-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__left {
        position: relative;
        left: 100px;
        @media screen and(max-width: 900px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          left: 0;
          margin: 0 3rem 3rem 3rem;
        }

        h1 {
          text-align: center;
          font-size: 3rem;
        }
        p {
          font-size: 1.1rem;
        }
      }

      &__right {
        width: 100%;
        img {
          width: 400px;
          position: relative;
          top: -70px;
          left: 100px;
          @media screen and(max-width: 900px) {
            display: none;
          }
        }
      }
    }
    &__buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 2rem;
      button {
        background: #5e5df0;
        border-radius: 999px;
        box-shadow: #5e5df0 0 10px 20px -10px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        position: relative;
        margin: 0 1rem;
        top: 2px;
        font-family: $font;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 10px 25px;
        border: 0;
        width: 250px;
        transition: all 0.4s ease;
        &:hover {
          background: #3f3fee;
          margin-top: -0.4rem;
        }
      }
      @media screen and(max-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
